<div class="container">

	{{partial "partials/nav"}}

	 <div class="well">
    <h1>Parent view: Application</h1>

    	<div class="well">
    		<p class="muted">Child view:</p>
	        {{outlet}}
	    </div>
    </div>

</div>